  <!--Finalización del menu de inicio con el fin de que sea parametrizable -->
                  {{#if nameUser}}
                    <li class="nav-item mx-0 mx-lg-1"><a href="/user" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger nameuser">{{nameUser}}</a></li>
                  {{else}}
                    <li class="nav-item mx-0 mx-lg-1"><a href="/registro"><button type="button" class="btn btn-outline-secondary btn-nav">REGISTRATE</button></a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a href="/login"><button type="button" class="btn btn-dark btn-nav btn-back">INGRESAR</button></button></a></li>                  
                  {{/if}} 
              </ul>
          </div>
      </div>
    </nav><body id="page-top">
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="/img/avataaars.svg" alt="" /><!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Start Bootstrap</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
            </div>
        </header>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
</body>
